{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Lista de Visitas</title>
    <link rel="stylesheet" href="{% static 'core/css/mantenedor.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<br></br>
<body>
    <div class="card">
        <div class="card-body">
            <h2> Listado de Visitas en Terreno</h2>
            <br></br>
            <table class="table table-striped table-hover table-responsive">
                <tr>
                    <th>ID Visita</th>
                    <th>Fecha Inicio</th>
                    <th>Fecha Termino</th>
                    <th>Hora Inicio</th>
                    <th>Hora Termino</th>
                    <th>Es visita extra</th>
                    <th>Profesional Asignado</th>
                    <th>Cliente Asignado</th>
                    <th>Opciones</th>
                </tr>
                {% for p in visitas %}
            
                <tr>
                    <td>{{ p.id  | title }}</td>
                    <td>{{ p.fecha_inicio | title }}</td>
                    <td>{{ p.fecha_termino | title }}</td>
                    <td>{{ p.hora_inicio | title }}</td>
                    <td>{{ p.hora_termino | title }}</td>
                    <td>{% if p.visita_extra %}
                        SI
                        {% else %}
                        NO
                        {% endif %}
                    </td>
                    <td>{{ p.Profesional | title }}</td>
                    <td>{{ p.Usuario | title }}</td>
                    <td>
                        <a href="{% url 'aseguradoraNMA:editar_visita' p.id %}" class="btn btn-info btn-sm">Modificar</a>
                        <h2></h2>
                        <a href="{% url 'aseguradoraNMA:eliminar_visita' p.id %}" class="btn btn-danger btn-sm">Eliminar</a>
                    </td>
                </tr>
            
                {% endfor %}
            
            </table>
            <div class="d-flex justify-content-end">
                <a href="{% url 'aseguradoraNMA:index' %}" class="btn btn btn-primary">Volver a Inicio</a>
                &nbsp;
                <a href="{% url 'aseguradoraNMA:planificar_visita' %}" class="btn btn btn-primary">Crear Visita</a>
                &nbsp;
                <a href="{% url 'aseguradoraNMA:crear_checklist' %}" class="btn btn btn-primary">Generar Checklist</a>
                &nbsp;
                <a href="{% url 'aseguradoraNMA:mantenedor_checklist' %}" class="btn btn btn-primary">Revisar Checklists</a>
            </div>
        </div>
    </div>
    <div id="contenido">
        {% if messages %}
            {% for m in messages %}
            <script>
                Swal.fire({
                    "title":"Proceso Realizado",
                    "text": "{{m}}",
                    "icon": "success"
                })
            </script>
            {% endfor %}
        {% endif %}
    </div>
</body>