{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Registrar Profesionales</title>
    <link rel="stylesheet" href="{% static 'core/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/registros.css' %}">

</head>
<br>/<br>
<body>
    <div class="row">
        <div class="col-12 col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                    <h2>Registrar Profesional</h2>
<br><br>
<form method = "POST">

    {% csrf_token %}
     
    {{ form | crispy }}

    <div class="d-flex justify-content-end">
    <a href="{% url 'aseguradoraNMA:index' %}" class="btn btn btn-primary">Volver a Inicio</a>
    &nbsp;
    <button type="submit" class="btn btn btn-primary">Crear</button>
    </div>
</div>
</div>
</div>
</div>
</form>
<div id="contenido">
    {% if messages %}
        {% for m in messages %}
        <script>
            Swal.fire({
                "title":"Proceso Realizado",
                "text": "{{m}}",
                "icon": "success"
            })
        </script>
        {% endfor %}
    {% endif %}
</div>
</body>